<h6>Follow me</h6>

<ul class="social-media">

  {% if site.social.github %}
    <li>
      <a title="{{ site.social.github }} on Github" href="https://github.com/{{ site.social.github }}" target="_blank"><i class="fa-brands fa-github"></i></a>
    </li>
  {% endif %}

  {% if site.social.stackoverflow %}
    <li>
      <a title="{{ site.social.stackoverflow }} on StackOverflow" href="https://stackoverflow.com/users/{{ site.social.stackoverflow }}" target="_blank"><i class="fa-brands fa-stack-overflow"></i></a>
    </li>
  {% endif %}

  {% if site.social.linkedin %}
    <li>
      <a title="{{ site.social.linkedin }} on LinkedIn" href="https://www.linkedin.com/in/{{ site.social.linkedin }}" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </li>
  {% endif %}

  {% if site.social.instagram %}
    <li>
      <a title="{{ site.social.instagram }} on Instagram" href="https://instagram.com/{{ site.social.instagram }}" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </li>
  {% endif %}

  {% if site.social.lastfm %}
    <li>
      <a title="{{ site.social.lastfm }} on Last.fm" href="https://www.lastfm.com/user/{{ site.social.lastfm }}" target="_blank"><i class="fa-brands fa-lastfm"></i></a>
    </li>
  {% endif %}

  {% if site.social.rss %}
    <li>
      <a title="{{ site.social.rss }} RSS" href="{{ site.social.rss | relative_url }}" target="_blank"><i class="fa-solid fa-rss"></i></a>
    </li>
  {% endif %}

  {% if site.social.bilibili %}
  <li>
    <a title="{{ site.social.bilibili }} on Bilibili" href="https://space.bilibili.com/{{ site.social.bilibili }}" target="_blank"><i class="fa-brands fa-bilibili"></i></a>
  </li>
{% endif %}

</ul>
